@import "~office-ui-fabric-react/dist/sass/References.scss";

.newsLetter {
  display: flex;
  max-width: 1100px;
  flex-direction: column;
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
  span {
    font-weight: 600;
  }
}

.grid {
  gap: 1rem;
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
